1. State the Hypotheses statement

1.Null Hypothesis (H₀):The observed weekly operating cost are equal to the theoretical model H₀=μ Theoretical cost

2.Alternative Hypothesis (H₁) : The observed weekly operating cost are higher than the theoritical model H₁:μ > Theoretical cost

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

2. Calculate the Test Statistic:

Sample mean(ˉxˉ) = 3050

Sample Size(n) = 25

NUmber of Units Product(X) : 600

The theoretical weekly operating cost model: W = $1,000 + $5X

Calculated Weekly operating cost (μ) =1000 + 5 * 600 = $4000

Standard deviation (σ) = 5*25 = 125

test statistic (t):?

Null Hypothesis - The average spending is not significantly higher than 3050.
we can say that cost model is wrong.

Alternate Hypothesis - The average spending is significantly higher than 3050.
we can say that cost model is right

In [2]:
#test statistic=(sample mean -pop mean)/(std / std error)
t=(3050-4000)/(125/np.sqrt(25))
t

-38.0

In [3]:
#Cummulative Density Function
#Degree of freedom (df) = sample size minus one= 25-1=24
stats.t.cdf(t,24)

2.9607810808177907e-23

This function essentially tells you the left-tailed probability

For a very negative test statistic like t=-38 the CDF will be very close to 0, indicating that such an extreme result is highly unlikely under the null hypothesis.

3. Determine the Critical Value:

Because of t value is negative this is one tail test

α = 0.05, we use the Z-table to find the critical value

α = 0.05 is approximately 1.645.

4. Make a Decision

Test Statistic (t): -38

Critical Value (z): 1.645

Since the test statistic (-38) is much less than the critical value (1.645), we fail to reject the null hypothesis.

5. Conclusion

Based on the decision in step 4, there is not enough evidence to reject the null hypothesis. Therefore, we do not have strong evidence to support the restaurant owners' claim that the weekly operating costs are higher than the model suggests.